<section class="bg-white h-screen w-screen p-10">
  <div class="py-8 px-4 mx-auto">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1
        class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600"
      >
        404
      </h1>
      <p
        class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl"
      >
        Algo no salio bien!
      </p>
      <p class="mb-4 text-lg font-light text-gray-500">
        Está pagina no existe o no esta disponible.
      </p>
      <app-button text="Volver" link="/" type="link" />
    </div>
  </div>
</section>
