@if(load()){

<app-loading />
}@else {
<div class="mx-4">
  <!-- <div class="min-w-52 h-full">
    <app-categories-item />
  </div> -->
  <div
    class="grid md:grid-cols-3 lg:grid-cols-5 grid-cols-1 gap-2 lg:gap-6 mx-auto place-items-center"
  >
    @for (item of plants(); track $index) {
    <app-product [product]="item" (add)="onHandleAdd($event)" />
    } @for (item of plants(); track $index) {
    <app-product [product]="item" (add)="onHandleAdd($event)" />
    }
  </div>
</div>
}
<!-- <pre>
    <code>
        {{cart() | json}}
    </code>
</pre> -->
